@import "~@material/theme/dist/mdc.theme.css";

#drawer-spacer {
    background-color: var(--mdc-theme-primary);
}

#drawer-spacer-icon {
    margin-top: 4px;
    margin-bottom: 4px;
    color: var(--mdc-theme-text-primary-on-primary);
}

#drawer-spacer-title {
    margin-left: 32px;
    color: var(--mdc-theme-text-primary-on-primary);
}
