@import "~@material/theme/dist/mdc.theme.css";

:root {
    --mdc-theme-primary: #3f51b5;
    --mdc-theme-accent: #448aff;
}

.tab-bar-scroller-indicator {
    color: var(--mdc-theme-text-primary-on-primary);
}

.drawer-header {
    background-color: var(--mdc-theme-primary);
}

.drawer-header-icon {
    font-size: 32px !important;
    color: var(--mdc-theme-text-primary-on-primary);
}

.drawer-header-title {
    margin-left: 24px;
    color: var(--mdc-theme-text-primary-on-primary);
}
